<div class="row">
    <div class="col-sm-8">
        <div class="server-overview-actions">
            <a href="" class="btn btn-md btn-primary" ng-click="serverManagement.createServer()">
                <span class="mdi mdi-plus"></span>
                Create server
            </a>
            <a href="" class="btn btn-md btn-primary" ng-click="serverManagement.getServers()">
                <span class="mdi mdi-refresh"></span>
                Refresh servers
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="server-overview-search input-group">
        <div class="input-group-addon"><span class="mdi mdi-magnify"></span></div>

        <input type="text" class="form-control" placeholder="Search servers" ng-model="serverManagement.searchQuery">
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover servers-table">
        <tr class="header-row">
            <th ng-click="serverManagement.orderBy('name')">
                Name
                <span ng-show="serverManagement.sortType == 'name'" class="mdi" ng-class="serverManagement.sortReverse ? 'mdi-chevron-up' : 'mdi-chevron-down'"></span>
            </th>
            <th ng-click="serverManagement.orderBy('status')">
                Status
                <span ng-show="serverManagement.sortType == 'status'" class="mdi" ng-class="serverManagement.sortReverse ? 'mdi-chevron-up' : 'mdi-chevron-down'"></span>
            </th>
            <th>Operating System</th>
            <th>
                IP address
            </th>
            <th ng-click="serverManagement.orderBy('region')">
                Region
                <span ng-show="serverManagement.sortType == 'region'" class="mdi" ng-class="serverManagement.sortReverse ? 'mdi-chevron-up' : 'mdi-chevron-down'"></span>
            </th>
        </tr>
        <tr ng-class="{ disabled: server.locked }"
            ng-repeat="server in serverManagement.servers | limitTo:serverManagement.pagination.limit:serverManagement.pagination.from | orderBy:serverManagement.sortType:serverManagement.sortReverse | filter:serverManagement.searchQuery"
            class="servers-table-item" ng-click="serverManagement.goTo(server)">
            <td>
                <span ng-if="server.locked" class="mdi mdi-lock"></span>
                <span ng-bind="::server.name"></span>
            </td>
            <td>{{ server.status | capitalize }}</td>
            <td><span ng-bind="::server.image.distribution"></span> <span ng-bind="::server.image.name"></span></td>
            <td ng-bind="::server.getIp()"></td>
            <td ng-bind="::server.region.name"></td>
        </tr>
    </table>
    <ch-spinner ng-show="serverManagement.busy"></ch-spinner>
</div>

<div class="row">
    <div class="col-xs-8 col-sm-10">
        <ch-pagination total-items="{{ serverManagement.servers.length }}" items-per-page="{{ serverManagement.pagination.limit }}" on-page-change="serverManagement.changePage(pageNumber)"></ch-pagination>
    </div>
    <div class="col-xs-4 col-sm-2">
        <select class="server-overview-pager form-control pull-right" ng-options="range for range in serverManagement.pagination.ranges" ng-model="serverManagement.pagination.limit"></select>
    </div>
</div>
