<a href="" class="btn btn-sm btn-primary" style="margin-bottom: 20px;" ng-click="serverManagement.createServer()">
    <span class="mdi mdi-plus"></span>
    Create server
</a>
<a href="" class="btn btn-sm btn-primary" style="margin-bottom: 20px;" ng-click="serverManagement.getServers()">
    <span class="mdi mdi-refresh"></span>
    Refresh servers
</a>

<div class="table-responsive">
    <table class="table table-hover servers-table">
        <tr class="header-row">
            <th>Name</th>
            <th>Status</th>
            <th>Operating System</th>
            <th>IP address</th>
            <th>Region</th>
        </tr>
        <tr ng-class="{ disabled: server.locked }"
            ng-repeat="server in serverManagement.servers | limitTo:serverManagement.pagination.limit:serverManagement.pagination.from"
            class="servers-table-item" ui-sref="{{ server.locked ? '.' : 'servers.show({ id: server.id })' }}">
            <td>
                <span ng-if="server.locked" class="mdi mdi-lock"></span>
                <span ng-bind="::server.name"></span>
            </td>
            <td>{{ server.status | capitalize }}</td>
            <td><span ng-bind="::server.image.distribution"></span> <span ng-bind="::server.image.name"></span></td>
            <td ng-bind="::server.getIp()"></td>
            <td ng-bind="::server.region.name"></td>
        </tr>
    </table>
    <ch-spinner ng-show="serverManagement.busy"></ch-spinner>
</div>

<div class="row">
    <div class="col-xs-8">
        <ch-pagination total-items="{{ serverManagement.servers.length }}" items-per-page="{{ serverManagement.pagination.limit }}" on-page-change="serverManagement.changePage(pageNumber)"></ch-pagination>
    </div>
    <div class="col-xs-4">
        <select class="form-control pull-right" ng-options="range for range in serverManagement.pagination.ranges" ng-model="serverManagement.pagination.limit"></select>
    </div>
</div>
