<div ng-include="'app/serverManagement/create/serverManagementForm.tpl.html'"></div>

<div class="table-responsive">
    <table class="table table-hover servers-table">
        <tr class="header-row">
            <th>Name</th>
            <th>Status</th>
            <th>Operating System</th>
            <th>IP address</th>
            <th>Region</th>
        </tr>
        <tr ng-class="{ disabled: server.locked }"
            ng-repeat="server in serverManagement.servers | limitTo:serverManagement.pagination.limit:serverManagement.pagination.from"
            class="servers-table-item" ui-sref="{{ server.locked ? '.' : 'servers.show({ id: server.id })' }}">
            <td>
                <span ng-if="server.locked" class="mdi mdi-lock"></span>
                <span ng-bind="::server.name"></span>
            </td>
            <td>{{ server.status | capitalize }}</td>
            <td><span ng-bind="::server.image.distribution"></span> <span ng-bind="::server.image.name"></span></td>
            <td ng-bind="::server.getIp()"></td>
            <td ng-bind="::server.region.name"></td>
        </tr>
    </table>
    <ch-spinner ng-show="serverManagement.busy"></ch-spinner>
</div>

<ch-pagination total-items="{{ serverManagement.servers.length }}" items-per-page="serverManagement.pagination.limit" on-page-change="serverManagement.changePage(pageNumber)"></ch-pagination>
