<alert type="danger" ng-if="vm.error" ng-bind="::vm.error"></alert>

<form name="vm.form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : vm.form.username.$invalid && !vm.form.username.$pristine }">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"
               ng-model="vm.user.username" required>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : vm.form.password.$invalid && !vm.form.password.$pristine }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password"
               ng-model="vm.user.password" required>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : vm.form.passwordRepeat.$invalid && !vm.form.passwordRepeat.$pristine }">
        <label for="passwordRepeat">Repeat password</label>
        <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat"
               placeholder="Repeat password" ng-model="vm.user.passwordRepeat" compare-to="vm.user.password" required>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : vm.form.email.$invalid && !vm.form.email.$pristine }">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter e-mail"
               ng-model="vm.user.email" required>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : vm.form.firstName.$invalid && !vm.form.firstName.$pristine }">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter first name"
               ng-model="vm.user.firstName" required>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : vm.form.prefix.$invalid && !vm.form.prefix.$pristine }">
        <label for="prefix">Prefix</label>
        <input type="text" class="form-control" name="prefix" id="prefix" placeholder="Enter prefix"
               ng-model="vm.user.prefix">
    </div>

    <div class="form-group" ng-class="{ 'has-error' : vm.form.lastName.$invalid && !vm.form.lastName.$pristine }">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter lastName"
               ng-model="vm.user.lastName" required>
    </div>

    <ch-progress-button action="vm.submit(vm.form)" ng-disabled="vm.form.$invalid">Update profile</ch-progress-button>
</form>
