<div class="containers-list">
    <div class="panel-body" ng-show="!server.containers.length || server.containers.$error">
        <p class="no-margin" ng-show="!server.containers.length && !server.containers.$error">No containers available, <a href="" ng-click="createContainer(server)">create a new container</a>.</p>
        <p class="no-margin" ng-show="server.containers.$error"><span ng-bind="server.containers.$error"></span>, <a href="" ng-click="getContainers(server)">try again</a>.</p>
    </div>
    <a ng-repeat="container in containers" href="" class="containers-list-item">
        <span ng-bind="::container.Id" class="item-name"></span>
        <span class="item-status">Running</span>
        <span class="item-created"><i class="mdi mdi-clock"></i> 5 hours ago</span>
    </a>
</div>
