<div>
    <div ng-if="panel">
        <ch-panel>
            <ch-panel-heading>
                <h4 class="panel-title">
                    <a href="" ui-sref="servers.show({ id: server.id })" ng-bind="server.name"></a>
                </h4>
            </ch-panel-heading>
            <ch-panel-body ng-if="!server.containers.length || server.containers.$error">
                <div>
                    <p class="no-margin" ng-show="!server.containers.length && !server.containers.$error">No containers available, <a href="" ng-click="createContainer(server)">create a new container</a>.</p>
                    <p class="no-margin" ng-show="server.containers.$error"><span ng-bind="server.containers.$error"></span>, <a href="" ng-click="getContainers(server)">try again</a>.</p>
                </div>
            </ch-panel-body>
            <div class="list-group" ng-if="server.containers.length">
                <a ng-repeat="container in server.containers | limitTo:pagination.limit:pagination.from" href="" class="list-group-item">
                    <span ng-bind="::container.Id" class="item-name"></span>
                    <span class="item-status">Running</span>
                    <span class="item-created"><i class="mdi mdi-clock"></i> 5 hours ago</span>
                </a>
            </div>
            <div class="panel-body" ng-if="server.containers.length > pagination.limit">
                <div class="row panel-pagination-controls">
                    <div class="col-xs-8 col-sm-10">
                        <ch-pagination total-items="{{ server.containers.length }}" items-per-page="{{ pagination.limit }}" on-page-change="changePage(pageNumber)"></ch-pagination>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <select class="pager form-control pull-right" ng-options="range for range in pagination.ranges" ng-model="pagination.limit"></select>
                    </div>
                </div>
            </div>
        </ch-panel>
    </div>
    <div ng-if="!panel">
        <div class="" style="margin-bottom: 20px;">
            <a href="" class="btn btn-sm btn-primary" ng-click="createContainer(server)">
                <span class="mdi mdi-plus"></span>
                Create new container
            </a>
            <a href="" class="btn btn-sm btn-primary" ng-click="getContainers(server)">
                <span class="mdi mdi-refresh"></span>
                Refresh containers
            </a>
        </div>

        <div ng-if="!server.containers.length || server.containers.$error">
            <p class="no-margin" ng-show="!server.containers.length && !server.containers.$error">No containers available, <a href="" ng-click="createContainer(server)">create a new container</a>.</p>
            <p class="no-margin" ng-show="server.containers.$error"><span ng-bind="server.containers.$error"></span>, <a href="" ng-click="getContainers(server)">try again</a>.</p>
        </div>

        <div class="list-group" ng-if="server.containers.length">
            <a ng-repeat="container in server.containers | limitTo:pagination.limit:pagination.from" href="" class="list-group-item">
                <span ng-bind="::container.Id" class="item-name"></span>
                <span class="item-status">Running</span>
                <span class="item-created"><i class="mdi mdi-clock"></i> 5 hours ago</span>
            </a>
        </div>

        <div class="row panel-pagination-controls" ng-if="server.containers.length > pagination.limit">
            <div class="col-xs-8 col-sm-10">
                <ch-pagination total-items="{{ server.containers.length }}" items-per-page="{{ pagination.limit }}" on-page-change="changePage(pageNumber)"></ch-pagination>
            </div>
            <div class="col-xs-4 col-sm-2">
                <select class="pager form-control pull-right" ng-options="range for range in pagination.ranges" ng-model="pagination.limit"></select>
            </div>
        </div>
    </div>
</div>
