@import models.DigitalOcean.Droplet

@()(implicit request: RequestHeader, user: User)

@main("Server overview") {
    <div ng-controller="serverManagementCtrl as serverManagement"></div>

    <div ng-controller="serverManagementFormCtrl as serverManagementForm">
        <form ng-submit="serverManagementForm.onSubmit()" novalidate>
            <formly-form model="serverManagementForm.serverModel" fields="serverManagementForm.serverFormFields">
                <button type="submit" class="btn btn-primary submit-button">Create server</button>
            </formly-form>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>@Messages("server.overview.id")</th>
                <th>@Messages("server.overview.name")</th>
                <th>@Messages("server.overview.locked")</th>
                <th>@Messages("server.overview.status")</th>
                <th>@Messages("server.overview.image-name")</th>
                <th>@Messages("server.overview.os")</th>
                <th>@Messages("server.overview.ip")</th>
                <th>@Messages("server.overview.region")</th>
            </tr>
            add table rows here
        </table>
    </div>

    <a class="btn btn-default" href="@routes.ServerManagement.addServer()" role="button">@Messages("server.overview.add-server")</a>
}
