@(cloudServers: List[CloudServer])

@main("overview"){
    <h1>Overview cloud services</h1>
    @if(cloudServers.isEmpty){
        <h4>Please add a digital ocean server</h4>
    }else{
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Server name</th>
                    <th>Locked</th>
                    <th>Status</th>
                    <th>Image name</th>
                    <th>OS</th>
                    <th>Ip address</th>
                    <th>Region</th>
                </tr>
                @for(cloudServer <- cloudServers){
                    <tr onclick="document.location = '@routes.CloudServices.show(cloudServer.id.toString)';">
                        <td>@cloudServer.id</td>
                        <td>@cloudServer.name</td>
                        <td>@cloudServer.locked</td>
                        <td>@cloudServer.status</td>
                        <td>@cloudServer.imageName</td>
                        <td>@cloudServer.operatingSystem</td>
                        <td>@cloudServer.ipAddress.getOrElse("Not available")</td>
                        <td>@cloudServer.regionName</td>
                    </tr>
                }
            </table>
        </div>
    }
    <a class="btn btn-default" href="@routes.CloudServices.addCloudService()" role="button">Add a server</a>
}