@(cloudServers: List[CloudServer])

@main("overview"){
    <h1>Overview cloud services</h1>
    @if(cloudServers.isEmpty){
        <h4>Please add a digital ocean server</h4>
    }else{
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>@Messages("server.overview.id")</th>
                    <th>@Messages("server.overview.name")</th>
                    <th>@Messages("server.overview.locked")</th>
                    <th>@Messages("server.overview.status")</th>
                    <th>@Messages("server.overview.image-name")</th>
                    <th>@Messages("server.overview.os")</th>
                    <th>@Messages("server.overview.ip")</th>
                    <th>@Messages("server.overview.region")</th>
                </tr>
                @for(cloudServer <- cloudServers){
                    <tr onclick="document.location = '@routes.CloudServices.show(cloudServer.id.toString)';">
                        <td>@cloudServer.id</td>
                        <td>@cloudServer.name</td>
                        <td>@cloudServer.locked</td>
                        <td>@cloudServer.status</td>
                        <td>@cloudServer.imageName</td>
                        <td>@cloudServer.operatingSystem</td>
                        <td>@cloudServer.ipAddress.getOrElse(Messages("server.not-available"))</td>
                        <td>@cloudServer.regionName</td>
                    </tr>
                }
            </table>
        </div>
    }
    <a class="btn btn-default" href="@routes.CloudServices.addCloudService()" role="button">@Messages("server.overview.add-server")</a>
}