@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin no-text-decoration {
  text-decoration: none;

  &:hover,
  &:active,
  &.active {
    text-decoration: none;
  }
}
