@(loginForm: Form[UserData])
@import b3.vertical.fieldConstructor

<!DOCTYPE html>
<html>
    <head>
        <title>Cloudharbor - Login</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("dist/jquery.min.js"))'></script>
    </head>
    <body>
        <div class="container">
            <h3>Login into Cloudharbor</h3>
            @b3.form(routes.Auth.authenticate()) {
                @b3.text( loginForm("username"), '_label -> "Username", 'placeholder -> Messages("user.username") )
                @b3.password( loginForm("password"), '_label -> "Password", 'placeholder -> Messages("user.password") )
                @b3.submit('class -> "btn btn-default"){ @Messages("user.sign-in") }
            }
        </div>
    </body>

</html>