<div>
    <form>
        <div class="form-group">
            <label for="server-name">Server name</label>
            <input type="email" class="form-control" id="server-name" placeholder="Server name">
        </div>
        <div class="form-group">
            <label for="server-region">Region</label>
            <select class="form-control" id="server-region">
                <option value="ams2">Amsterdam 2</option>
                <option value="ams3">Amsterdam 3</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="server-size">Select a size</label>
            <select id="server-size" name="server-size" class="form-control">
                <option value="512mb">512mb - €5 p/month</option>
                <option value="1gb">1gb - €10 p/month</option>
                <option value="2gb">2gb - €20 p/month</option>
                <option value="4gb">4gb - €40 p/month</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
