.management-overview {

}

.management-overview .panel {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.overview-item .panel-body {
  padding: 0;
}

// todo: refactor this ugly CSS
.containers-list {
  margin-bottom: 0;

  @extend .list-group;
}

.containers-list-item {
  display: flex;
  border-radius: 0;
  width: 100%;
  max-width: 100%;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.containers-list-item span {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;

  padding-left: 10px;

  &:nth-child(1) {
    padding-left: 0;
  }
}

.containers-list-item .item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.containers-list-item .item-created,
.containers-list-item .item-status {
  text-align: right;
}
