<div class="management-overview">
    <ch-panel-group>
        <!--<ch-panel ng-repeat="server in containerManagement.servers | limitTo:containerManagement.pagination.limit:containerManagement.pagination.from">
            <ch-panel-heading>
                <a href="" ui-sref="servers.show({ id: server.id })" ng-bind="::server.name"></a>
                <a href="" class="pull-right" ng-click="containerManagement.getContainers(server)"><span class="mdi mdi-refresh"></span></a>
                <a href="" class="pull-right" ng-click="containerManagement.createContainer(server)"><span class="mdi mdi-plus"></span></a>
            </ch-panel-heading>
            <ch-panel-body ng-if="!server.containers.length || server.containers.$error">
                <p class="no-margin" ng-show="!server.containers.length && !server.containers.$error">No containers available, <a href="" ng-click="createContainer(server)">create a new container</a>.</p>
                <p class="no-margin" ng-show="server.containers.$error"><span ng-bind="server.containers.$error"></span>, <a href="" ng-click="getContainers(server)">try again</a>.</p>
            </ch-panel-body>
            <container-list server="server"></container-list>
        </ch-panel>-->
        <container-list server="server" panel="true"
                        ng-repeat="server in containerManagement.servers | limitTo:containerManagement.pagination.limit:containerManagement.pagination.from"></container-list>
    </ch-panel-group>

    <ch-pagination total-items="{{ containerManagement.servers.length }}" items-per-page="{{ containerManagement.pagination.limit }}" on-page-change="containerManagements.changePage(pageNumber)"></ch-pagination>
</div>
