$navmenu-item-active: rgba(#000, 0.4);

// Fixed navmenu
@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
}

.navmenu {
  background-image: $ch-gradient;
  border: 0;
  box-shadow: inset -5px 0 15px -5px rgba(0, 0, 0, 0.3);
}

.navmenu li a {
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;

  &:hover, &:focus, &:active {
    background-color: $navmenu-item-active;
  }
}
.navmenu li.active a {
  background-color: $navmenu-item-active;
}
.navmenu li a .mdi {
  margin-right: 10px;
}

.navmenu-brand img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}