.navbar-default {
  background: #fff;
}

.navmenu-toggle {
  margin-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;

  &:active, &:focus {
    outline: none;
  }

  @extend .btn, .btn-link;
}
.navmenu-toggle .mdi {
  line-height: $navbar-height;
}

.navbar .mdi {
  font-size: 20px;
}

.navbar-icon a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar-icon .mdi {
  line-height: $navbar-height;
}

.notification-ball {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 99px;
  background-color: #337ab7;
}

// Disable collapsing
.navbar-header {
  float: left;
}

.navbar-header-menu {
  float: right;
  margin-right: 15px;
}

.navbar-header-menu > .navbar-nav {
  float: left;
  margin: 0;
}

.navbar-header-menu > .navbar-nav > li {
  float: left;
}

.navbar-header-menu > .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-header-menu > .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  margin-top: 0;
  width: auto;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-header-menu > .navbar-form {
  float: left;
  margin-right: 0;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-header-menu > .navbar-form > .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-header-menu > .navbar-left {
  float: left;
}

.navbar-header-menu > .navbar-right {
  float: right !important;
}

.navbar-header-menu > *.navbar-right:last-child {
  margin-right: -15px !important;
}