.navbar-default {
  background: #fff;
}

.navbar-toggle {
  float: none;
  margin-left: 15px;
  border: none;
  color: $brand-primary;
  text-transform: uppercase;

  @media (min-width: $grid-float-breakpoint) {
    display: block;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}