<div class="management-overview panel-group">
    <div class="panel panel-default" ng-repeat="server in vm.servers">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="" ui-sref="servers.show({ id: server.id })" ng-bind="::server.name"></a>
                <a href="" class="pull-right" ng-click="vm.getImages(server)"><span class="mdi mdi-refresh"></span></a>
                <a href="" class="pull-right" ng-click="vm.createImage(server)"><span class="mdi mdi-plus"></span></a>
            </h4>
        </div>
        <image-list server="server"></image-list>
    </div>
</div>
