@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="chApp" class="no-js">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content
    </body>

    <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/angular/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/materialize/bin/materialize.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
</html>
